{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
<div class="container">
    <h1 class="text-center">My Projects</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="td-width-1">#</th>
                    <th class="td-width-1">Name</th>
                    <th class="td-width-1">Category</th>
                    <th class="td-width-1">Description</th>
                    <th class="td-width-1">Show Members</th>
                    <th class="td-width-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for projectData in projectsData %}
                    {% set project = projectData['project'] %}
                     {% set projectMembers = projectData['members'] %}

                    <tr id="{{ project.id}}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ project.name }}</td>
                        <td>{{ project.category }}</td>
                        <td>{{ project.description }}</td>
                        <td><button id="change" class="btn btn-success"><span class="fa fa-eye"></span></button></td>
                        <td><a href="{{ path('add_role_to_project',{id:project.id}) }}"><button  class="btn btn-primary">Add Person</button></a></td>
                    </tr>
                    {% for projectMember in projectMembers  %}
                    <tr class="member" style="display: none;">
                        <th colspan="2" class="td-width-1">Member {{ loop.index }}</th>
                        <th colspan="2">Role</th>
                        <th colspan="100"></th>
                    </tr>
                    <tr class="member" style="display: none;">
                        <td colspan="2">{{ projectMember.user  }}</td>
                        <td colspan="2">{{ projectMember.projectRole }}</td>
                        {% if projectMember.projectRole  != 'admin' %}
                          <td colspan="100"><button  class="btn btn-danger"><span class="fa fa-trash"></span></button></td>
                        {% else %}
                          <td colspan="100"></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <hr>
        </div>
    </div>
</div>
{% endblock %}
  {% block javascripts %}
  {{ parent() }}
      <script>
          $(document).ready(function (){
              $("#change").click(function (){
                $(".member").show();
             });
          });
      </script>
  {% endblock %}
